.block-statistics{
	min-height: 650px;
	/*background: red;*/
	min-width: 960px;
    max-width: 1200px;
    margin: 0 auto;
	margin-bottom: 50px;
}

#stat{
	display: inline-block;
	/*border:1px solid black;*/
	margin-left: 28%;
	padding-top:20px; 
	padding-left:10px;
}

#stat ul li{
	float: left;
	margin-right: 20px;
	font-size: 18px;
}

.statistics{
	//background-color: red;
	min-width: 960px;
    max-width: 1200px;
    margin: 0 auto;
   // height:700px;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 20px;
}

table .statistic-item td{
	//background-color: green;
	padding: 10px 10px;
	border-bottom: 1px solid black;
}

table .statistic-item .date-pomadoro{
	width: 210px;
	/*background-color: green;*/
	text-align: center;
}

table .statistic-item .time-pomadoro{
	width: 120px;
	/*background-color: yellow;*/
	text-align: center;
}

table .statistic-item .task-pomadoro{
	max-width: 600px;
	/*background-color: red;*/
	text-align: center;
	/*text-overflow: ellipsis;*/
	overflow-y: auto;
}


#pages-statistic{
	/*position: absolute;*/
	height: 30px;
    width: 400px;
    /*border: 1px solid black;*/
    bottom: 100px;
    /*left: 44%;*/
    margin:0 auto;
    margin-bottom: 75px;
}

#pages-statistic ul {
	/*position: relative;*/
	margin: 0 auto;
}

#pages-statistic ul li{
	float: left;
	border: 1px solid black;
	margin-left: 5px;
}

#pages-statistic ul li a{
	display: block;
	/*width: 15px;*/
	/*height: 20px; */
	color:black;
	text-align: center;
	padding: 5px 10px;
	font-size: 20px;
}

#pages-statistic ul li a:hover{
	color: white;
}

#pages-statistic ul li:hover{
	background-color: #39b54a;
	/*opacity: 0.5;*/
}

#pages-statistic ul .points{
	padding-top: 15px;
	border: 0px;
}

#pages-statistic ul .points::hover{
	background-color: white;
}

#pages-statistic ul li .current-page{
	background-color: #39b54a;
	color: white;
}