*{
	padding: 0px;
	margin: 0px;
}

li{
    list-style-type: none; /* Убираем маркеры */
}

a{
	color:#fff;
	text-decoration: none;
}

body{
	margin: 0px;
	padding: 0px;
	font: Arial sans-serif;
}

/*.dotted {
  //padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  
  width:100%;
  height: 50px;
}*/


#footer-content, #header-content, #content{
	min-width: 960px;
    max-width: 1200px;
    margin: 0 auto;
}

.time, #time, .time #buttons, #countTomatos{
	margin:0 auto;
}





/*#setting-menu{
	position: fixed;
	width: 300px;
	height: 100%;
	background: blue;
	border-left: 4px solid black;
	right:-310px;
	background: #DCDAD5;
    color: #fff;

	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}*/


