#content{

}

#default-settings{
	display: none;
}

#content .time{
	//background: #39b54a;
	//height: 350px;	
	width: 800px;
	margin-top:100px;
	//border-radius: 10px;
	color: #222222;
	font-family: helvetica neue,Helvetica,Arial,sans-serif;
}

#time{
	margin-top: 100px;
	width: 250px;
	font-size: 100px;
	font-weight: bold;
	color: #222222;
	text-rendering: optimizeLegibility;
    word-spacing: -.1em; 
}

#countTomatos{
	width: 190px;
	font-size: 25px;
	padding: 5px 5px 5px 10px;
	height: 20px;
	//border: 1px solid #222222;
}

.time #buttons{
	padding-top: 50px;
	width: 520px;
}

.time input:hover{
	cursor: pointer;
}

#start, #stop, #reset{
	font-size: 25px;
	border-radius: 5px;
	border: 0px;
	//padding: 10px 20px;
	margin-right: 30px;
	width: 150px;
	height: 50px;
}

#start{
	background: green;
	color: white;
}

#stop{
	background: red;
	color: white;
}

#reset{
	margin-right: 0px;
}
