<div id="content">
	<div class="time">
		<div id="countTomatos">POMODORO #<span id="figureTomatos">0</span></div>
		<div id="time">25:00</div>
		<div id="buttons">
			<form>
				<input id="start" type="button" name="start" value="START">
				<input id="stop" type="button" name="stop" value="STOP">
				<input id="reset" type="button" name="reset" value="RESET">
			</form>
		</div>
	</div>
</div>

	<div id="message"></div>
	<!-- <?php echo $data['test_content']; ?> -->
