<div id="content">
	<div class="time">
		<div id="countTomatos">POMODORO #<span id="figureTomatos"><?php echo $data['countPomadoro'] ?></span></div>
		<div id="time"><?php if($data['settings']['timeWork']<10) echo "0".$data['settings']['timeWork'].":00"; else echo $data['settings']['timeWork'].":00"; ?></div>
		<div id="default-settings">
			<div id="timeWork"><?php echo $data['settings']['timeWork']; ?></div>
			<div id="timeBreak"><?php echo $data['settings']['timeBreak']; ?></div>
			<div id="longBreak"><?php echo $data['settings']['longBreak']; ?></div>
			<div id="countTimes"><?php echo $data['settings']['countTimes']; ?></div>
		</div>
		<div id="buttons">
			<form>
				<input id="start" type="button" name="start" value="START">
				<input id="stop" type="button" name="stop" value="STOP">
				<input id="reset" type="button" name="reset" value="RESET">
			</form>
		</div>
	</div>
</div>

	<div id="message"></div>
	<script type="text/javascript" src="<?php echo PROJECT_PATH ?>/template/js/timer.js"></script>
	<script type="text/javascript" src="<?php echo PROJECT_PATH ?>/template/js/user_ajax.js"></script>
