
<div id='bg_layer1'></div>
<div class="container" id="login">
	<img src="<?php echo PROJECT_PATH ?>/template/images/man.png">
	<form method="POST" action="" >
		<div class='error-signup'><?php echo $data['error']; ?></div>
		<div class="dws-input"> 
			<input type="text" name="login" placeholder="Введите логин">
		</div>
		<div class="dws-input">
			<input type="password" name="password" placeholder="Введите пароль">
		</div>
		<input class="dws-submit" type="submit" name="submit1" value="LOG IN">
<br />
		<a href="#">Forgot password?</a>
		
	</form>
</div>